{
    "command": "/usr/local/bin/neutron-l2gw-agent-wrapper.sh",
    "config_files": [
        {
            "source": "{{ container_config_directory }}/neutron-l2gw-agent-wrapper.sh",
            "dest": "/usr/local/bin/neutron-l2gw-agent-wrapper.sh",
            "owner": "root",
            "perm": "0755"
        },
        {
            "source": "{{ container_config_directory }}/l2gateway_agent.ini",
            "dest": "/etc/neutron/l2gateway_agent.ini",
            "owner": "neutron",
            "perm": "0600"
        }
    ],
    "permissions": [
        {
            "path": "/var/log/kolla/neutron",
            "owner": "neutron:neutron",
            "recurse": true
        },
        {
            "path": "/var/lib/neutron/kolla",
            "owner": "neutron:neutron",
            "recurse": true
        }
    ]
}
